.conatiner{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.main{
  max-width:600px;
  width: 100%;
  min-height:100vh;
}
 .overlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
  }
  .popup {
            position: fixed;
            left: 0;
            right: 0;
            top: 20%;
            background-color: white;
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 16px;
            z-index: 1000;
            max-width: 500px;
            margin: auto;
            padding: 16px;
          margin: 10px;
        }
         .popup-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px 0;
        }
         .option_1{
      display: flex;
      justify-content: center;
    }
    .option_1 select,
    .option_1 input[type="number"] {
      flex-grow: 1;
      text-align:center;
      padding: 8px;
      text-align:center;
      border: none; /* Убираем рамку */
      border-radius: 0; /* Убираем бордер радиус */
      font-size: 14px;
      margin-left: 10px;
     outline: none;
      max-width: 120px;
    }
    .weight-picker-section{
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0 40px;
        }
         .weight-picker-container {
            position: relative;
            height: 200px;
            overflow: hidden;
            text-align: center;
            margin: 20px 0;
            min-width: 80px;
        }
        .weight-picker {
            height: 100%;
            padding-top: 8px;
            overflow-y: scroll;
            scrollbar-width: none; /* For Firefox */
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
        }
        .weight-picker::-webkit-scrollbar { /* For Chrome, Safari, and Opera */
            width: 0;
        }
        .weight-picker div {
            padding: 10px 0;
            font-size: 30px;
            color: #969696;
        }
        .highlight {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 40px;
            margin-top: -20px;
            border-top: 1px solid #E9E9E9;
            border-bottom: 1px solid #E9E9E9;
            pointer-events: none;
        }
        .highlight_2{
          position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 40px;
            margin-top: -20px;
            border-top: 1px solid #E9E9E9;
            border-bottom: 1px solid #E9E9E9;
            pointer-events: none;
        }
        .highlight_3{
          position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 40px;
            margin-top: -20px;
            border-top: 1px solid #E9E9E9;
            border-bottom: 1px solid #E9E9E9;
            pointer-events: none;
        }
        .highlight_4{
          position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 40px;
            margin-top: -20px;
            border-top: 1px solid #E9E9E9;
            border-bottom: 1px solid #E9E9E9;
            pointer-events: none;
        }
        .highlight_5{
          position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 40px;
            margin-top: -20px;
            border-top: 1px solid #E9E9E9;
            border-bottom: 1px solid #E9E9E9;
            pointer-events: none;
        }
         .comma{
          font-size: 35px;
          color: #9C6AF9;
          min-width: 40px;
          text-align: center;
        }
         .buttons{
          display: flex;
          gap: 8px;
          margin-top: 30px;
        }
         .confirm_button{
          padding: 17px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
          font-size: 14px;
          transition: all ease .6s;
          width: 100%;
          background-color: #9c6af9;
          color: #fff;
          border: none;

        }
        .cancel_button{
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
          font-size: 14px;
          transition: all ease .6s;
          width: 100%;
          background-color: #fff;
          border: none;
          box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
        }
         .weight-picker div.selected {
            color: #9C6AF9;
            font-size: 42px;
            font-weight: bold;
            transition: all .4s ease;
        }

        .sliderTitle
{
    margin-top:20px;
}
.greeting
{
    font-size: 32px;
    line-height: 36px;
}
.under_greeting
{
    margin-top: 4px;
    font-weight: normal;
    font-size: 14px;
    color: #8F8F8F;
    margin-bottom: 20px;
}
.progres{
      position:absolute;
      z-index:9;
      top:0;
      right: 0;
      width:100%;
      height:100%;
       background-color: #d6c0ff85;
    }

    #openPopupButton_3{
      margin-bottom:120px;
    }
    #medical_option_5{
      margin-bottom:120px;
    }