 .button-container 
 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    background: #fff;
}
.button-container2
 {
    position: fixed;
    bottom: 70px !important;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    background: #fff;
}
.buttonMain 
{
    background-color: #9C6AF9;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    position: relative;
    z-index:8;
    overflow:hidden;
    padding:20px 10px;
    margin: 0 25px;
    cursor: pointer;
}

   .progress-message 
   {
        font-size: 14px;
        color: #8F8F8F;
        margin-top: 8px;
    }

     .button-icon 
     {
        position: absolute;
        z-index:10;
        right: 22px; /* Расположение иконки на самом краю справа */
        width: 18px; /* Ширина иконки */
        height: 20px; /* Высота иконки */
    }
.beck_button
{
    color:#3881F0;
    font-size:16px;
    border:none;
    outline:none;
    background:transparent;
    display: flex;
    cursor: pointer;
    align-items:center;
}
.beck_button > img
{
    margin-right: 10px;
}

.buttonMain_2 {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    position: relative;
    z-index:8;
    overflow:hidden;
    padding:20px 10px;
    margin: 0 25px;
    cursor: pointer;
};
