dialog {
    border: none;
    background-color: transparent;
    max-width: 600px;
}

dialog::backdrop {
    height: 100dvh;
    background-color: var(--theme_bg_secondary_color);
    backdrop-filter: blur(12px);
    opacity: 0.75;
}

button {
    border: none
}
